<style scoped lang="scss">
  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top {
    display: flex;
    background: #3d3780;
    height: 76px;
    width: 100%;
    padding: 20px;
  }
  .main {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .main-left {
    padding: 20px;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    width: 260px;
    height: 100%;
  }
  .main-left-content {
    padding: 10px;
    border-top-right-radius: .5rem;
    width: 100%;
    height: 100%;
    background: #3d3780;
  }
  .main-content {
    padding: 20px;
    flex: 1;
    display: flex;
    height: 100%;
    overflow-y: scroll;
  }
</style>

<template>
  <div class="app">
    <div class="top">
      Top navigation
    </div>
    <div class="main">
      <div class="main-left">
        <div class="main-left-content">
          left
        </div>
      </div>
      <div class="main-content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
  
  }
</script>
