// Importing Elemental default
@import './theme/index.css';

// Nebular theme starts
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #2f296a;
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.el-button {
  border: 0;
  color: white;
}
.el-button--default {
  background-image: linear-gradient(90deg,#ad59ff,#7659ff);
  box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff, 0 4px 10px 0 rgba(33,7,77,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  line-height: calc(1.25rem + 4px);
}

.el-button--success {
  background-image: linear-gradient(90deg,#00d9bf,#00d977);
  box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b, 0 4px 10px 0 rgba(33,7,77,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  border: none;
  line-height: calc(1.25rem + 4px);
}

.el-button--warning {
  background-image: linear-gradient(90deg,#fc0,#ffa100);
  box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600, 0 4px 10px 0 rgba(33,7,77,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  border: none;
  line-height: calc(1.25rem + 4px);
}

.el-button--info {
  background-image: linear-gradient(90deg,#24bdff,#2499ff);
  box-shadow: 0 3px 0 0 #0087db, 0 2px 8px 0 #009dff, 0 4px 10px 0 rgba(33,7,77,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  border: none;
  line-height: calc(1.25rem + 4px);
}

.el-button--danger {
  background-image: linear-gradient(90deg,#ff54b8,#ff547f);
  box-shadow: 0 3px 0 0 #db3078, 0 2px 8px 0 #ff388b, 0 4px 10px 0 rgba(33,7,77,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  border: none;
  line-height: calc(1.25rem + 4px);
}
