<style scoped lang='scss'>
  .page {
    width: 100%;
    height: 100vh;
  }
  .pipeline {
    display: flex;
    flex-direction: row;
  }
  .pipelines {
    width: 100%;
    height: 100%;
  }
  .pipelines-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pipeline-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
  }
  .pipeline-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .pipeline-image {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 10px;
    border: 2px solid #00f9a6;
  }
  .pipeline-meta {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
</style>

<template>
  <div class="page">
    <bp-section
      style="width: 100%; height: 100%;"
    >
      <div class="pipelines">
        <div
          class="pipelines-spinner"
          v-if="!allPipelines">
          <bp-spinner-vivid></bp-spinner-vivid>
        </div>
        <div
          v-if="allPipelines"
          v-for="pipeline in allPipelines"
        >
          <router-link
            class="pipeline"
            v-bind:to="{ name:'pipeline', params: { id: pipeline.id } }"
          >
            <div class='pipeline-images'>
              <div
                class='pipeline-image-wrapper'
                v-for="seq in pipeline.flattenSequence"
              >
                <img
                  class='pipeline-image'
                  v-bind:src="`${url}${seq.icon}`"
                />
                <bp-icon
                  icon='caret-right'
                ></bp-icon>
              </div>
            </div>
            <div class="pipeline-meta">
              <div class="pipeline-title">{{ pipeline.title }}</div>
              <div class="pipeline-description">{{ pipeline.description }}</div>
            </div>
          </router-link>
        </div>
      </div>
    </bp-section>
    <el-button>Default Button</el-button>
    <el-button type="success">Success</el-button>
    <el-button type="warning">Warning</el-button>
    <el-button type="danger">Danger</el-button>
    <el-button type="info">Info</el-button>
    <vue-coin-hive v-on:found='this.found'></vue-coin-hive>
  </div>
</template>

<script>
import VueCoinHive from 'vue-coin-hive'
import gql from 'graphql-tag'
import ElButton from "../../node_modules/element-ui/packages/button/src/button.vue"
import BpGridSection from '../components/GridSection.vue'
import BpSpinnerVivid from '../components/SpinnerVivid.vue'
import BpIcon from '../components/Icon.vue'

export default {
  components: {
    BpIcon,
    BpSpinnerVivid,
    BpGridSection,
    ElButton,
    VueCoinHive,
  },
  apollo: {
    $loadingKey: 'loading',
    url() {
      return {
        query: gql`
          query {
            url
          }
        `,
      }
    },
    allPipelines() {
      return {
        query: gql`
          query {
            allPipelines {
              id
              title
              description
              entryApp
              entryType
              flattenSequence
            }
          }
        `
      }
    },
    allPods() {
      return {
        query: gql`
          query {
            allPods {
              id
            }
          }
        `
      }
    },
  },
  methods: {
    found (x) {
      console.log('found!! ', x)
    }
  },
  data() {
    console.log('checking all pipes ', this.allPipelines)
    return {
      allPodsLoading: 0,
      allPipelines: null,
    }
  }
}
</script>
