<style scoped lang='scss'>
  #mainHolder {
    border: 1px solid green;
  }
  .page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
  }
</style>

<template>
  <grid-section
      style='width: 100%; height: 100%;'
    >
    <div v-if="pipeline">
      test man
      <bp-pipeline
        v-bind:url="url"
        v-bind:pipeline="pipeline"
      ></bp-pipeline>
      {{ pipeline.title }}
    </div>
  </grid-section>
</template>

<script>
  import gql from 'graphql-tag'
  import GridSection from '../components/GridSection.vue'
  import Pipeline from '../components/Pipeline.vue'
  export default {
    components: {
      Pipeline,
      GridSection,
    },
    apollo: {
      $loadingKey: 'loading',
      url() {
        return {
          query: gql`
          query {
            url
          }
        `,
        }
      },
      pipeline() {
        return {
          query: gql`
            query allPipelines($id: ID!) {
              pipeline(id: $id) {
                id
                title
                sequence
                flattenSequence
              }
            }
          `,
          variables () {
            console.log('variable checking id ', this.$route.params.id)
            return {
              id: this.$route.params.id
            }
          },
        }
      },
      
    },
  }
</script>
