<style scoped lang='scss'>
  .container {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 8px 20px 0 rgba(40,37,89,.6);
    font-weight: 400;
    background: #3d3780;
    min-height: 300px;
    min-width: 500px;
  }
  .grid {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: url(../../static/square_pattern.svg) repeat;
    background-size: 75px;
    background-image: url(../../static/square_pattern_cosmic.svg);
    padding: 10px;
  }
</style>

<template>
  <div class="container">
    <div class="grid">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'BpGridSection'
  }
</script>
