<style scoped lang='scss'>
  i {
    text-decoration: none;
  }
</style>

<template>
  <i
    v-bind:class="`fa fa-${icon}`"
    v-bind:style='{ color }'
    aria-hidden="true"
  ></i>
</template>

<script>
  export default {
    name: 'BpIcon',
    props: {
      icon: {
        type: String,
        default: null,
      },
      color: {
        type: String,
        default: 'white',
      }
    }
  }
</script>
