<template>
  <div id="joint-holder" />
</template>

<script>
  import * as R from 'ramda'
  export default {
    name: 'BpPipeline',
    props: {
      pipeline: {
        type: Object,
        default: null
      },
      url: {
        type: String,
        default: null
      }
    },
    data() {
      return {
        graph: null,
      }
    },
    mounted() {
      if (this.pipeline.sequence) {
        console.info('Setting up a pipeline! ', )
        console.log(this.pipeline.sequence)
        this.setup()
        this.traverse(this.pipeline.sequence, {}, this.processNode)
      } else {
        console.error('Received an invalid sequence object')
      }
    },
    methods: {
      /**
       * Setting up JointJS
       */
      setup() {
        const graph = new joint.dia.Graph
        new joint.dia.Paper({
          el: document.getElementById('joint-holder'),
          width: 600,
          height: 500,
          model: graph,
          gridSize: 1
        })
        // Assign new graph object
        this.graph = graph
      },
      /**
       * @param pods // list of pods
       * @param actionName // s
       */
      findPodByAction(pods, actionName) {
        const getPodName = R.compose(
          R.last,
          R.split('-')
        )
        const findPod = R.find(R.propEq('name', getPodName(actionName)))
        return findPod(pods)
      },
      /**
       * Processing a node
       * @param node
       * @param parent
       * @returns {*}
       */
      processNode(node, parent) {
        const { graph, actionName, podName } = node
        const x = R.propOr(null, 'x', graph)
        const y = R.propOr(null, 'y', graph)
        if (!x || !y) {
          return null
        }
        if (graph) {
          const pod = this.findPodByAction(this.pipeline.flattenSequence, podName)
          const child = new joint.shapes.basic.Image({
            position: { x: graph.x, y: graph.y },
            size: {
              width: 30,
              height: 30
            },
            attrs: {
              text: {
                text: actionName,
                fill: 'white'
              },
              image: {
                'xlink:href' : `${this.url}${pod.icon}`,
                width : 16,
                height : 16
              }
            }
          })
          if (parent) {
            const link = new joint.dia.Link({
              source: { id: child.id },
              target: { id: parent.id }
            })
            this.graph.addCells([child, link])
          } else {
            this.graph.addCells([child])
          }
          return child
        }
        return null
      },
      /**
       * Traverse a sequence and calls callback on each node
       * @param currentSequence
       * @param parent
       * @param callback
       * @returns {*}
       */
      traverse (currentSequence, parent = {}, callback) {
        // Loop's dead end
        if (!currentSequence) {
          return null
        }
        // If it's a node, it must have current props
        // Current props are including podName, graph
        const node = R.pickAll(['actionName', 'podName', 'graph'], currentSequence)
        if (node && node.podName && node.graph) {
          // Appending next
          const nextParent = callback(node, parent)
          return this.traverse(R.propOr(null, 'next', currentSequence), nextParent, callback)
        }
    
        // Checking if edge exist. Next must be empty because it's an edge
        const keys = R.keys(currentSequence)
        if (!R.isEmpty(keys)) {
          R.map((key) => {
            const composeNextNode = R.compose(
              R.assoc('actionName', key),
              R.propOr(null, key)
            )
            const nextNode = composeNextNode(currentSequence)
            return this.traverse(nextNode, parent, callback)
          }, keys)
        }
        return 0
      },
    }
  }
</script>
