<style scoped lang='scss'>
  .container {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 8px 20px 0 rgba(40,37,89,.6);
    font-weight: 400;
    background: #3d3780;
    min-height: 300px;
    padding: 20px;
  }
</style>

<template>
  <div class='container'>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'BpSection',
  }
</script>
